<section #page style="opacity: 0;" class="page">

  <div class="container-fluid mb-5">
    <div class="row">
      <div class="container col-9" id="content">
        <div class="pt-5" #node>
          <h1>Node.js</h1>
        </div>

        <div class="mt-3">
          <p>
            First of all, we need to set up the environment. Angular is built, and runs on top of,
            <a href="https://nodejs.org/en/download/">Node.Js</a> and this will have to be installed onto your system
            before continuing. Details on how to install this can be found at
            <a href="https://nodejs.org/en/">nodejs.org</a> or by clicking on the image below.
          </p>
        </div>

        <div class="d-flex justify-content-center mt-3 text-center">
          <a href="https://nodejs.org/en/">
            <img src="http://itsuite.it.brighton.ac.uk/si133/images/nodejs.png" class="img-fluid" style="max-width:50vw;" />
          </a>
        </div>

        <div class="mt-5">
          <p>
            Node.js is a server side version of Javascript, built using Chrome's Javascript engine.
            Unlike traditional Javascript, this framework allows for server side applications like REST APIs to be
            created within the one language.
          </p>
          <br />
          <p>
            Once this is installed, you'll need to use the node package manager (NPM) from your command line to install
            Angular.
            To do this, simply  type:
          </p>
          <code>npm install -g @angular/cli</code>
          <p>
            This may take a little while depending on your internet, but once the installation is complete, you're
            finished setting up!
            Now to create your first app
          </p>
        </div>

        <h3 class="mt-5" #firstApp>Your First App</h3>
        <div class="mt-4">
          <p>
            So you now have Angular installed, and creating your first app couldn't be easier.
            The first thing you'll need to do is navigate within your command prompt to where you would like to create
            your new Angular application. Once you have done this, you will need to type the following command:
          </p>
          <code>ng new first-app</code>
          <p>
            This command will generate the framework for
            a basic Angular application for you to develop in any way you choose. Although you could jump straight into
            trying to edit the application from here, why don't we start with a brief look at the default application.
            Simply enter the following commands:
          </p>
          <code>cd first-app</code>
          <code>ng serve --open</code>

          <p>
            And wait. This will open up a new browser window or tab with your new application.
            This page may not seem like much, but it's the basis of what we will be developing later in this tutorial.
          </p>
        </div>
        <div class="container-fluid justify-content-center mt-3 text-center">
          <img src="http://itsuite.it.brighton.ac.uk/si133/images/app.png" class="img-fluid" style="max-height: 40vh;" />
        </div>

        <h3 class="mt-5" #goingOn>What's going on?</h3>
        <div class="mt-4">
          <p>
            If we now go back to look at what was generated by the 'ng new' command, it all gets a bit
            confusing. There are a series of folders which each contain a jumble of subfolders and files.
            Fortunately we can ignore most of this for now, and move to the 'src/app' folder. This is the most
            important
            part of the Angular app for us to understand as this is where the majority of development will
            be taking place.
            <br />
            <br />
            Inside the app folder, all we currently have is what is known as the root module ('app.module.ts') and
            a root component (built up of 4 files, all beginning "app.component"). If you're just looking to build a
            single page application, you could achieve that with just these files.
            <br />
            <br />
          </p>

          <p class="d-none d-lg-flex">
            When the files were generated you should've ended up with an app.component.ts file that looks like
            this:
          </p>

          <div class="card mt-3 mb-3 d-none d-lg-flex">
            <div class="card-body">
              <h5 class="card-title">app.component.ts</h5>
              <pre><code [highlight]="tsCode" (highlighted)="onHighlighted($event)"></code></pre>
            </div>
          </div>

          <p>
            All this code does (for now) is dictate that this is a component, the identifier of the component,
            and where to find the markup and styling for it. These files are generated automatically for you
            when you create a new component, by navigating to your app root in a CLI and typing:
          </p>

          <code>ng generate component *</code>

          <div class="note text-dark">
            <p class="noteBody">
              <strong>Tip:</strong> Replace the * with the name of the component you would like to generate
              - for example 'Home'
            </p>
          </div>

          <p class="mt-3">
            This allows you to split each component, or page, from one another and creating an easy to follow structure.
            However, you will notice that although you have generated your files, you cannot actually see any new pages in your application.
            This is where the Angular router is needed - which we will implement in the next section.
            <br />
            <br />
          </p>

          <div class="d-flex justify-content-center">
            <button class="styled-button mt-3 min-width-buttons" type="button" (click)="advance()"><span>Advance</span></button>
          </div>
        </div>

      </div>

      <div class="container col-3 d-none d-lg-flex pl-5" id="sidebar">
        <ul class="align-items-center fixed" id="sidebar-list">
          <li #nodeIndicator>Node.js</li>
          <li #firstAppIndicator>Your First App</li>
          <li #goingOnIndicator>What's Going On?</li>
        </ul>
      </div>
    </div>

  </div>
</section>