<section #page style="opacity: 0;" class="page">
  <img src="https://images.pexels.com/photos/1420701/pexels-photo-1420701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" id="bg" />
  <div class="container pt-5">
      <h1>Report</h1>
      <p class="mt-3">
        When undertaking this project, I decided that I would like to cover Angular in my tutorial and create an Angular
        application to host that tutorial on. I thought that Angular was quite an interesting topic for webmasters as it’s
        a new technology that allows them to build dynamic websites/applications with relative ease, and it's something
        that’s becoming more and more popular with the more people that hear about it.
      </p>
      <p class="mt-3">
        Angular is a very large framework and I knew I wouldn’t be able to cover the whole thing in one tutorial, so I
        decided that I would focus on a subject that I struggled quite a lot with when I was learning the framework -
        routing. By doing this, I wanted to also solidify my knowledge in the subject, as it’s something that is essential
        to building a polished product.
      </p>
      <p class="mt-3">
        I approached this task with the mindset of what would I have wanted to know back when I started to learn Angular. I
        hoped that by taking this approach, I could use my experiences as a strength, and that by addressing those issues,
        I would fix the same problems that reader may have. However, I also realise that I may have therefore not covered a
        topic as in depth as I perhaps could’ve done - I may have struggled in an area that another person wouldn’t and
        vice versa. If I was to do this assignment again, I would try to make sure that I get feedback from the people that
        would potentially be using the tutorial and therefore make sure I cover any concerns and weaknesses in the website.
      </p>
      <p class="mt-3">
        I had a fairly good understanding of how Angular works as I have used it a couple of times before, but when I came
        to deploy the app I had a few issues. I had never deployed one before, and I couldn’t work out why I couldn’t
        directly access some pages from a url – ‘saminnes.com/home’ would give me a 404 error from the server. After some
        research, I realised that I would have to create an .htaccess file on a server because indexing doesn’t work in the
        same way when using Angular. This is something I couldn’t do on the university W drive, so I also deployed this to
        my personal domain. This taught me a valuable skill for if I want to deploy Angular apps in the future.
      </p>
      <p class="mt-3">
        The element that I felt I was weakest in coming into this project was UI design. It was something that I struggled
        with throughout, and although I’m relatively happy with the outcome, it’s a skill that I feel like I’m going to
        spend some time developing further. However, this was the most fulfilling part of the tutorial. As a computer
        science student, I rarely get the opportunity to do some UI design – we mostly get to work on backend code. So, to
        get the opportunity to try and work on these skills was a welcome challenge.
      </p>
      <p class="mt-3">
        The least rewarding part of this assignment for me was trying to condense the content down. I know that the subject
        I have chosen is something that, unless you’re interested in learning about Angular, can be quite laborious to read
        about. Therefore, I tried to be as aware of this issue as possible and condense the writing down while still trying
        to maintain a good explanation of the topic. To try and make sure that the reader would still know what I was
        talking about, I also build a very primitive demo application that they would build alongside the tutorial. My hope
        was that, through completing that website, the reader would be able to see how everything that I was talking about
        linked together.
      </p>
      <p class="mt-3">
        In all, I am relatively happy with the outcome of this project. I think that although I have identified some
        weaknesses, both in the website and my ability, by completing this project I have not only worked towards improving
        in those areas, but also given myself clarification on what exactly I should work on to improve further. I have
        also taken some valuable knowledge in setting up a webserver away from this, and hopefully this will be useful in
        the future.
      </p>
  </div>
  <div class="container mt-5 mb-5">
    <h1>References</h1>
    <ul class="text-dark mt-3">
      <li>https://medium.com/@ryanchenkie_40935/angular-authentication-using-route-guards-bf7a4ca13ae3</li>
      <li>https://alligator.io/angular/route-guards/</li>
      <li>HTML, CSS and JavaScript Logos created by @aidandunn: https://codepen.io/aidandunn/pen/dsBer</li>
      <li>Node.Js logo downloaded from: https://nodejs.org/en/about/resources/</li>
      <li>Angular logo downloaded from: https://angular.io/presskit</li>
      <li>All other images used are from www.pexels.com</li>
      <li>This website was built using Angular and BootStrap</li>
    </ul>
  </div>
</section>